<!-- checkconduct.html -->
<!doctype html>
<html lang="ja">
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/css/header.css">
        <link rel="stylesheet" href="../static/css/li.css">
        <link rel="stylesheet" href="../static/css/table.css">
        <link rel="stylesheet" href="../static/css/link.css">
    </head>
    <body>
        <header>
            <div class="inner">
                <p class="logo">COVID-19管理システム Team18</p>
                <ul class="navi">
                    <li><a href="/">トップ</a></li>
                    <li><a href="/mypage">マイページ</a></li>
                    <li><a href="/admin/top">管理者トップ</a></li>
                </ul>
            </div>
        </header>
        <div id="main"></div>
        <h2>{{title}}</h2>
        <table border="1" class="design">
            <tr>
                {% for item in table_index %}
                    {% if loop.index-1 == 7 %}
                        <th colspan="2">{{item}}</th>
                    {% else %}
                        <th>{{item}}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            {% for row_data in table_data.values %}
            <tr>
                <td>{{loop.index}}</td>
                {% for item in row_data %}
                    <td>{{item}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table> 
    </body>
</html>