<!-- top.html -->
<!doctype html>
<html lang="ja">
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/css/header.css">
        <link rel="stylesheet" href="../static/css/li.css">
        <link rel="stylesheet" href="../static/css/link.css">
    </head>
    <body>
        <header>
            <div class="inner">
                <p class="logo">COVID-19管理システム Team18</p>
                <ul class="navi">
                    <li><a href="/">トップ</a></li>
                    <li><a href="/mypage">マイページ</a></li>
                    <li><a href="/admin/top">管理者トップ</a></li>
                </ul>
            </div>
        </header>
        <div id="main"></div>
        <ul>
            <li><a href="/register">アカウント登録</a></li>
            <li><a href="/login">ログイン</a></li>
            <li><a href="/logout">ログアウト</a></li>
        </ul>
    </body>
</html>
